[Desktop Entry]
Encoding = UTF-8
Name = Starterator
Name[en_US] = Starterator
Exec = python /Users/marissa/code/Research/starterator.dev/starterator/Starterator
Icon = /Users/marissa/.starterator/starterator.svg
Icon[en_US] = /home/pbi/.starterator/starterator.svg
Type = Application
Terminal = False
Categories = Education

