[Starterator]
count = 51384
intermediate_file_dir = /home/marissa/Starterator/starterator-1.0/starterator-0.1.0/starterator/?/
blast_dir = 
database_server = localhost
clustalw_dir = 
database_name = Mycobacteriophage_Draft
legacy_blast = False
final_file_dir = /home/marissa/Starterator/starterator-1.0/starterator-0.1.0/starterator/?/
database_password = phage
protein_db = /home/marissa/Starterator/starterator-1.0/starterator-0.1.0/starterator/?/
database_user = root

[Email]
